.details-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1em;
  align-items: center;
  width: 100vw;
}
.details-wrapper img {
  width: 40em;
  height: auto;
}

.details-wrapper a {
  border: 1px solid black;
  background-color: lightgray;
  padding: 0.5em;
  width: 8em;
  text-decoration: none;
  color: black;
  text-align: center;
}

.details-wrapper a:hover {
  background-color: rgb(192, 192, 192);
}

@media screen and (max-width: 480px) {
  .details-wrapper img {
    width: 90vw;
  }
}
