html {
  font-family: 'Slabo 27px', serif;
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
}

h1 {
  font-family: 'Bebas Neue', cursive;
}

.main-content-container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-areas: 'header header' 'sidebar main';
  column-gap: 1em;
}
