header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 4em;
}

h1 {
  margin-left: 0.5em;
}

header .navlink {
  text-decoration: none;
  color: white;
}

header .navlink:hover {
  color: red;
}
